<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= character.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');</style>

</head>

<body>
    <h1>The Edit Page</h1>
    <a href="/">Return Home</a>
    <form action="/characters/<%= character._id %>?_method=PUT" method="POST">
        <label for="name">Character Name</label>
        <input type="text" value="<%= character.name %>" name="name" id="name">
        <br>
        <label for="jediPowers">Jedi Powers</label>
        <input type="text"  value="<%= character.jediPowers %>" name="jediPowers" id="jediPowers">
        <br>
        <label for="darkSide">Dark Side</label>
        <input type="text"  value="<%= character.darkSide %>" name="darkSide" id="darkSide">
        <br>
        <label for="greed">Greed</label>
        <input type="text"  value="<%= character.greed %>" name="greed" id="greed">
        <br>
        <label for="courage">Courage</label>
        <input type="text"  value="<%= character.courage %>" name="courage" id="courage">
        <br>
        <label for="flyingSkills">Flying Skills</label>
        <input type="text"  value="<%= character.flyingSkills %>" name="flyingSkills" id="flyingSkills">
        <br>
        <label for="hallOfFame">Hall of Fame</label>
        <input type="text"  value="<%= character.hallOfFame %>" name="hallOfFame" id="hallOfFame">
        <br>
        <button type="submit">Update <%= character.name %> </button>
    </form>
</body>
</html>